<p-growl [(value)]="msgs"></p-growl>
<div class="primeng-container">
  <strong class="form_title"><label>Please sign in</label></strong>

  <span class="ui-float-label">
    <input [(ngModel)] = "valueEmail" id="inputEmail" class="float-input" type="text" size="30" pInputText>
    <label for="inputEmail">Enter email:</label>
  </span>


  <span class="ui-float-label">
    <input [(ngModel)] = "valuePass" id="inputPass" class="float-input" type="password" size="30" pPassword/>
    <label>Enter password:</label>
  </span>

  <span class="error_log" name="login_error" [innerText]="login_error"></span>

  <div class="link_area">
    <a class="link" (click)="onNavigate()">Forgot password?</a>
    <a class="link" (click)="onRegistrationPage()">Sign up</a>
  </div>

  <button pButton type="button" label="Sign in" (click)="checkUser()" [disabled]="(!valueEmail || !valuePass)"></button>
</div>
