.header {
  text-align: right;
  border-bottom: 1px solid #0000ff;
  background: #eee;
  .container {
    padding-bottom: 10px;
    padding-top: 10px
  }
  button {
    margin: 0 10px
  }
}

.tabs {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 20;
}

.header__under {
  text-align: right;
  color: #0000ff;
  .container {
  }
  .link_tabs {
    font-weight: bold;
    font-style: italic;
  }
  .active-link {
    text-decoration: underline;
  }
}
