<div class="container-fluid">
  <div class="row header">
    <div class="container">
      <button class="btn" *ngIf="!loginService.isLoggedInUser()" (click)="onLoginPage()">Login</button>
      <button class="btn" *ngIf="loginService.isLoggedInUser()" (click)="logout()">Logout</button>
      <a (click)="onHomePage()">FridgeApp</a>
    </div>
  </div>
  <div *ngIf="loginService.isLoggedInUser()" class="tabs">
    <div class="container">
      <div class="row header__under">
        <div class="container">
          <a class="link_tabs" routerLinkActive="active-link" [routerLink]="['fridge']">My fridge</a>
          <span> / </span>
          <a class="link_tabs" routerLinkActive="active-link" [routerLink]="['recipes']">My recipes</a>
        </div>
      </div>
    </div>
  </div>
</div>
