@import "../../../../../styles/styles";

//.registrationForm {
//  text-align: center;
//}

.primeng-container {
  @include flex-column-centered;
  max-width: 500px;
  background: #fff;
  margin: 30px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  .flex-row {
    display: flex;
    align-items: center;
    margin-top: 2vh;

    input {
      margin-left: 1vw;
    }
  }

  #account-type-label {
    margin-top: 2vh;
  }

  .ui-float-label {
    margin-top: 3.5vh;
  }

  button {
    margin-top: 3vh;
  }
}
