<p-growl [(value)]="msgs"></p-growl>
<div class="primeng-container">
  <form class="text-center">
    <strong><label>Please enter your data</label></strong>


    <span class="ui-float-label">
      <input required [(ngModel)] = "valueName" id="inputName" class="float-input" name="name" type="text" size="30" pInputText >
      <label for="inputName">Username</label>
    </span>

    <span class="ui-float-label">
      <input required [(ngModel)] = "valueEmail" id="inputEmail" class="float-input" name="email" type="email" size="30" pInputText >
      <label for="inputEmail">Email</label>
    </span>


    <span class="ui-float-label">
      <input required [(ngModel)] = "valuePass" id="inputPass" class="float-input" name="password" type="password" size="30" pPassword >
      <label>Enter password:</label>
    </span>

    <button pButton type="button" label="Registration" (click)="saveAccount()" [disabled]="(!valueName || !valueEmail || !valuePass)"></button>
  </form>
</div>
