.productList__container {
} 

.productList {
  max-height: calc(100% - 200px);
  position: relative
}
.productList:before {
  content: '';
  position: absolute;
  top: 0;
  background-color: yellow;
  opacity: 0.4;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.productList ul {
  position: relative;
  z-index: 2
}
