<div class="row">
  <div class="col-sm-6">
    <!--<app-product-list></app-product-list>-->

  </div>
  <div class="col-sm-12">
    <ul>
      <li><a class="link_tabs" routerLinkActive="active-link" [routerLink]="['my-list']">My product list</a></li>
      <li><a class="link_tabs" routerLinkActive="active-link" [routerLink]="['modify']">Modify my product list</a></li>
      <li><a class="link_tabs" routerLinkActive="active-link" [routerLink]="['add']">Add product to my product list</a></li>
    </ul>
    <router-outlet></router-outlet>
  </div>

</div>
