@import "../../../styles/styles";

.primeng-container {
  @include flex-column-centered;
  margin: 30px auto;
  max-width: 500px;
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;


  .flex-row {
    display: flex;
    align-items: center;
    margin-top: 2vh;

    input {
      margin-left: 1vw;
    }
  }

  #account-type-label {
    margin-top: 2vh;
  }

  .ui-float-label {
    margin-top: 3.5vh;
  }

  button {
    margin-top: 3vh;
  }
}
