<p-growl [(value)]="msgs"></p-growl>
<div class="primeng-container">
  <strong><label>Please login</label></strong>

  <span class="ui-float-label">
    <input [(ngModel)] = "valueEmail" id="inputEmail" class="float-input" type="text" size="30" pInputText>
    <label for="inputEmail">Enter email:</label>
  </span>


  <span class="ui-float-label">
    <input [(ngModel)] = "valuePass" id="inputPass" class="float-input" type="password" size="30" pPassword/>
    <label>Enter password:</label>
  </span>

  <span class="error_log"></span>

  <button class="btn" (click)="onNavigate()">Forgot password?</button>

  <button class="btn" (click)="onRegistrationPage()">On registration page</button>

  <button pButton type="button" label="Click" (click)="checkUser()"></button>
</div>
